html {
  box-sizing: border-box;
  
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #1e555c;

}


*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e555c;
  height: 100vh;
  width: 100vw;
  
  
}
.note-image {
  margin-bottom: 30px;
  width: 1000px;
  height: 250px;
}
.container > button {
  margin-bottom: 20px;
  width: 6rem;
  height: 2rem; 
  border: 2px solid;
  border-radius: 7px;
}

#piano {
  background-color: #333333 ;
  width: 500px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  position: relative; 
  border-radius: 10px;
}
.wanna-play {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wanna-play p {

  padding-bottom: 10px;
  color: #e0e0e0;
  font-size: 20px;
}

.wanna-play button {
  
  border-radius: 7px;
  border: 2px solid #04AA6D;
  background-color: #04AA6D;
  width: 6rem;
  height: 1.6rem;  
  transition: 0.2s ease-out;
  font-weight: 400;
 
}
.wanna-play button:hover {
  scale: 1.1;
  cursor: pointer;
 
}

.keys {
  background-color: #040404;
  width: 454px;
  height: 180px;
  padding-left: 2px;
  overflow: hidden;
}

.key {
  background-color: #ffffff;
  position: relative;
  width: 41px;
  height: 175px;
  margin: 2px;
  padding-bottom: 8px;
  float: left;
  border-radius: 0 0 3px 3px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  color: #1d1e22;
  user-select: none;

  &.active {
    background: #1d1e22;
    color: #ffffff;
  }
}


.black {
  background-color: #1d1e22;
  width: 32px;
  height: 100px;
  border-radius: 0 0 3px 3px;
  z-index: 3;
  margin: 0 -16px;
  color: #ffffff;

  &.active {
    background: #ffffff;
    color: #1d1e22;
  }
}

.shortcut-white {
  position: absolute;
  z-index: 4;
  color: #000;
  bottom: 30px;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .note-image {
    margin-bottom: 15px;

    width: 500px;
    height: 200px;
  }
}
@media only screen and (max-width: 1600px) {
  .note-image {
    margin-bottom: 15px;
    width: 700px;
    height: 200px;
  }
}
